@font-face {
   src:
      url("../resources/fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
      url("../resources/fonts/NunitoSans-ExtraBold.woff") format("woff"),
      url("../resources/fonts/NunitoSans-ExtraBold.svg#NunitoSans-ExtraBold") format("svg");
   font-family: "Nunito Sans";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/NunitoSans-SemiBold.woff2") format("woff2"),
      url("../resources/fonts/NunitoSans-SemiBold.woff") format("woff"),
      url("../resources/fonts/NunitoSans-SemiBold.svg#NunitoSans-SemiBold") format("svg");
   font-family: "Nunito Sans";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/OpenSans-Regular.woff2") format("woff2"),
      url("../resources/fonts/OpenSans-Regular.woff") format("woff"),
      url("../resources/fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
   font-family: "Open Sans";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/NunitoSans-Regular.woff2") format("woff2"),
      url("../resources/fonts/NunitoSans-Regular.woff") format("woff"),
      url("../resources/fonts/NunitoSans-Regular.svg#NunitoSans-Regular") format("svg");
   font-family: "Nunito Sans";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/NunitoSans-Bold.woff2") format("woff2"),
      url("../resources/fonts/NunitoSans-Bold.woff") format("woff"),
      url("../resources/fonts/NunitoSans-Bold.svg#NunitoSans-Bold") format("svg");
   font-family: "Nunito Sans";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/NunitoSans-Black.woff2") format("woff2"),
      url("../resources/fonts/NunitoSans-Black.woff") format("woff"),
      url("../resources/fonts/NunitoSans-Black.svg#NunitoSans-Black") format("svg");
   font-family: "Nunito Sans";
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/OpenSans-Bold.woff2") format("woff2"),
      url("../resources/fonts/OpenSans-Bold.woff") format("woff"),
      url("../resources/fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
