:root {
   // global
   --container-max-width: 1170px;
   --container-safety-indents: 15px;

   // fonts
   --font-size: initial;
   --line-height: normal;
   --font-weight: 400;
   --font-family: "Nunito Sans", sans-serif;
   --second-family: "Open Sans", sans-serif;

   // Color
   --dark-blue: #2d3663;
   --accent: #00adbb;
   --dark-accent: #007d8a;
   --light: #99dfe3;
   --text: #231f20;
   --pink: #ee4a80;
   --grey: #8b8b8b;
   --white: #fff;
   --light-grey: #ebebeb;
   --kids1: #e95f85;
   --kids2: #57bd82;
   --kids3: #a65099;
   --kids4: #ffcc4e;
   --kids5: #4bbdca;
   --stroke-grey: #bfbfbf;

   // Sizes
}
